img
{
    width:400px;
}
body
{
    text-align : center ;
    font-family : "serif";
    background: green;
    color: wheat;
}
/* unvisited link */
a:link {
  color: #FF0000;
}

/* visited link */
a:visited {
  color: #cef10b;
}

/* mouse over link */
a:hover {
  color: #FF00FF;
}

/* selected link */
a:active {
  color: #0000FF;
}

